/******all start ***********/


/********** all end ***********/


/***** nav start *****/
.s{background: rgba(0,0,0,0.5);border:none;}
.s li a{color: #bf9f60;margin-bottom: 0px;padding-bottom: 27px;height: 100%;margin-top: 14px;text-shadow:none;font-size: 15px;}
.s li a:hover{color: #000;cursor: pointer;}
.s span{background:#fff ;}
.header_nav i{margin-right: 10px;vertical-align: text-bottom;}
.header_nav span{position: absolute;bottom: 10px;left: 50%;background: #bf9f60}
@media (max-width: 600px) { 
	.s li a{padding: 0 0 9px 0;text-shadow:none;font-size: 12px;}
	.header_nav span{display: none;}
}
.nav_logo{position: relative;}
.nav_logo img{position: absolute;top: -22px;left: 35%;width: 30%;}
.header_nav #ico{position: absolute;left: 5%;z-index: 100;color: #fff;display: none;margin: 0;}
.header_nav .nav_list a{padding-bottom: 0;text-align: center;}
/***** nav end *****/

/**** banner start ****/
.banner{
	width:100%;height:500;background:#1f1a17;padding-top: 65px;
}
.banner .item img{width:100%}
.banner .banner_font{width:100%;height:100%;font-family:'叶根友毛笔行书2.0版';color: #bf9f60}
.carousel-inner h3{margin: 100px 800px;width: 20px;line-height: 40px;}
/**** banner end ****/
/*******poj start**************8*/

#pro1{font-size:18;font-family:'微软雅黑';color:#000;background: #efead7;}

.pro1{
	height: 120px;
	border:3px solid #fff;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
	overflow: hidden;transition:all 1s;
}
.pro img{
	height: 100%;
}
.pro1:hover{
	/*box-shadow: 1px 5px 5px 4px rgba(0,0,0,.3);*/
	-webkit-transform:translate(0,-5px) scale(1.2);
	-moz-transform:translate(0,-5px) scale(1.2);
	transition:all 1s;
}
.pro1:hover img{
	/*box-shadow: 1px 5px 5px 4px rgba(0,0,0,.3);*/
	-webkit-transform:translate(0,-5px) scale(1.2);
	-moz-transform:translate(0,-5px) scale(1.2);
	transition:all 1s;
}
.list{
	margin-top: 50px;
}
.pro1:after{
}
/*******poj end**************8*/
/*****news start*************/
#news{
	color: #030303;
	font-size: 17px;
	height: 500px;
	background: #8B8989;
	padding-left: 30px;
    background: url(tu/bg3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#news .first{
	background:#000;

}
#news a{color:#bf9f60;
  
}
#news li {
overflow: hidden; /*自动隐藏文字*/
text-overflow: ellipsis;/*文字隐藏后添加省略号*/
white-space: nowrap;/*强制不换行*/
/*不允许出现半汉字截断*/


}
#news .contens{
	font-size: 19px;
	line-height: 30px;
	color: #bf9f60;
	border-bottom: 1px dashed #d2b48c;
}
#news .contens a:hover{
color: #ee2c2c;
}
#news .ntitle{font-size: 20px;}
#news h2{
	font-size: 30px;
	margin-left: 40px;
}

#news .second{
	background: #fff;
}

#news .third{
	background: #fff;
}
#news .row li a:hover{
	color: #f60;
}
#news ul{
	list-style: none;
	line-height: 25px;
    width: 14em;
    color: #97FFFF;
	
}
#news .act{
	font-size: 22px;margin-top: 15px;
}
/*****news end*************/
/********footer start *************/
.footer_font {text-align: center;background: #000;color: #ccc;font-size: 12px;padding:25px 0; border-top:1px solid #b87b23 }
.footer_font ul{margin: 1;}
.footer_font a{text-decoration: none;color: #ccc;}
.footer_font li{display: inline-block;height: 100%;padding:0 7px;}
.footer_font .silde_c{border-right:1px solid #ccc;width: 1px;}
@media (max-width: 600px) {
.footer_font .silde_c{display: none} }
/********* footer end  ******************